
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header header-app">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
          <app-header></app-header>
      </header>
      <main class="mdl-layout__content">   
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
              <app-chartpie 
              [title]="'Visão Supermecardo'"
              [dataProvider]='[{
                  "title": "Valor Consumido",
                  "valor": 50
                },
                {
                  "title": "Disponivel para Consumo",
                  "valor": 50
                }
              ]'></app-chartpie>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <app-chartpie 
                  [title]="'Visão Abastacimento'"
                  [dataProvider]='[{
                      "title": "Valor Consumido",
                      "valor": 80
                    },
                    {
                      "title": "Disponivel para Consumo",
                      "valor": 50
                    }
                  ]'></app-chartpie>
            </div>
          </div>     
      </main>
    </div>

